input.ng-touched.ng-invalid {
    border: 1px solid red;
    box-shadow: 0 0 1px inset rgba(255, 0, 0, 2.5);
}

.modal.show {
    display: block;
}

.btn-position {
    position: relative;
    left: 75%;
}

.add-btn {
    color: black;
}

.cancel-btn {
    border: none;
}

.ok-btn {
    border: none;
    background-color: #37b537;
    color: #fff;
}

.footer-btn {
    position: absolute;
    top: 90%;
    left: 90%;
}
:host ::ng-deep .ngx-pagination .current {
    background: #37b537;
}

input[type=checkbox] {
    accent-color: #37b537;
  }