/* You can add global styles to this file, and also import other style files */
.p-tabview {
  .p-disabled {

    a,
    span {
      cursor: not-allowed !important;
    }
  }

  .p-tabview-panels {
    border-top: 1px solid #37b537;
    border-image: linear-gradient(to right, #37b537 19%, rgb(82 49 49 / 0%) 18%);
    border-image-slice: 11;
  }

  .p-tabview-nav {
    background: #ffffff;
    border-width: 0;
    border: none;
    float: right;

    li {
      .p-tabview-nav-link {
        background: #37b537;
        color: white;
        border: 1px solid #ddd;
        border-color: #ddd #ddd #fff;
        border-radius: 0px;
        margin-right: 2px;
      }

      .p-tabview-nav-link:not(.p-disabled):focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: none;
      }
    }
  }

  .p-tabview-nav {
    li.p-highlight {
      .p-tabview-nav-link {
        background: #fff;
        color: #37b537;
        border-top: 2px solid #37b537;
        border-left: 2px solid #37b537;
        border-right: 4px solid #37b537;
      }
    }
  }

  .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    background: #37b537;
    border-color: #ddd;
    color: #ffffff;
  }

}

.table-modal,
.fix-with-750-modal {
  .modal-content {
    border: none;
    width: 1200px;
  }

  .modal-dialog {
    max-width: 1200px;
  }
}

.modal-header {
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #e9ecef;
  background-color: #37b537;
  max-height: 38px;
}

.model-heading {
  color: #fff;
  margin-left: 15px;
  margin-top: 15px;
}

.close-modal {
  background-color: transparent;
  border: none;
}

.close-position {
  float: right;
  margin-right: 10px;
}

.whilecolor {
  color: #fff;
}

.alert-lbl {
  color: #37b537;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: 8px;
}

.back-color {
  background-color: rgb(209, 209, 209);
}

.btn-delete {
  float: right;
}

.tbl-header {
  background-color: #37b537;
  color: #fff;
  font-size: 12px;
}

.table-bordered>:not(caption)>*>* {
  margin: auto;
  width: 1px;
}

th.header-check {
  width: 1%;
}

th.header-name {
  width: 22%;
}

th.header-desc {
  width: 30%;
}

th.header-web {
  width: 22%;
}

.tbl-body {
  background: #fff;
  font-size: 12px;
  color: black;
}

.form-border {
  border-left: groove;
}

.tab-alert {
  background-color: rgb(209, 209, 209);
}

.table>:not(:first-child) {
  border-top: 0px solid currentColor;
}